/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	margin-top: 3rem;
  padding: 2rem 1rem;
	border-top: 1px solid rgba(226,232,240,1);
	background-color: $color-main;
	color: #ffffff;
	&__inner{
		@include flex-jbetween;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
		border-bottom: 1px solid rgba(226,232,240,1);
		padding-bottom: 3rem;

	}
	&_ttl{
		font-size: 2rem;
		font-weight: 700;
		color:#F5ECB5;
		line-height: 1.35;
	}
	&__bottom{
		max-width: 1440px;
		margin: 3rem auto;
		align-items: center;
		color:#666;
		align-items: flex-end;
		@include pc{
			@include flex-jbetween;
		}
		@include sp{
			margin-bottom: 1rem;
		}
	}
}