/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background-color: $color-main;
  color: white;
  position: relative;
  padding: 180px 0 0;
  margin-top: 27rem;
  z-index: 1;
  @include sp{
	padding: 50px 0 0;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &::before{
		background-image: url('/assets/images/bg_wave_top.svg');
		background-repeat: no-repeat;
		background-size: auto;
		height: 150px;
		top: 3px;
		z-index: 0;
		background-position: bottom;
		@include sp{
			height: 70px;
		}
  }
  &::after{
		background-color: white;
    top: 0px;
    height: 150px;
		@include sp{
			height: 70px;
		}
  }
	&_inner{
		.col-md-1-3 {
			padding-left: 4.5rem;
		}
		@include sp{
			padding-top: 4rem;
			.col-md-1-3 {
				padding-left: 0;
			}
		}
	}
	ol{
		li{
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.2;
			margin: 1.2rem 0;
		}
	}
	&_ttl{
		font-size: 2rem;
		font-weight: 700;
		color:#F5ECB5;
		line-height: 1.35;
		position: relative;
		margin-bottom: 3rem;
		display: flex;
		&::after{
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: white;
			left: 0;
			bottom: -10px;
		}
	}
	&_social{
		gap: 25px;
	}
	&_bottom{
		margin: 2rem auto 0;
		align-items: center;
		height: 50px;
		background-color: #0779F1;
		color: white;
		font-size: 1.8rem;
	}
}