/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background-color: $color-main;
  color: white;
  position: relative;
  padding: 150px 0;
  margin-top: 150px;
  z-index: 1;
  @include sp{
	padding: 50px 0;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &::before{
	background-image: url('/assets/images/bg_wave_top.svg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 300px;
	top: 3px;
	z-index: 0;
  }
  &::after{
	background-color: white;
    top: -1px;
    height: 90px;
	@include sp{
		height: 30px;
	}
  }
	&__inner{
		@include flex-jbetween;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
		border-bottom: 1px solid rgba(226,232,240,1);
		padding-bottom: 3rem;

	}
	&_ttl{
		font-size: 2rem;
		font-weight: 700;
		color:#F5ECB5;
		line-height: 1.35;
	}
	&__bottom{
		max-width: 1440px;
		margin: 3rem auto;
		align-items: center;
		color:#666;
		align-items: flex-end;
		@include pc{
			@include flex-jbetween;
		}
		@include sp{
			margin-bottom: 1rem;
		}
	}
}