/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
@mixin max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
@mixin min($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}
@mixin sp {
	@media screen and (max-width: #{$breaksp}) {
		@content;
	}
}
@mixin pc {
	@media screen and (min-width: #{$breaksp}) {
		@content;
	}
}
@mixin tb {
	@media (min-width: #{$breaksp}) and (max-width: #{$desktop-width - 1px}) {
	  @content;
	}
  }

@mixin minmax($min,$max) {
	@media (min-width: #{$min}) and (max-width: #{$max - 1px}) {
		@content;
	}
	}
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
@mixin flex {
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
@mixin flex-icenter {
	display: flex;
    align-items: center;
}
@mixin flex-jcenter {
	display: flex;
    justify-content: center;
}
@mixin flex-jbetween {
	display: flex;
    justify-content: space-between;
}
@mixin chunk-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}