@charset 'utf-8';
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
:root {
	--background: white;
	--color-black: #000;
	--color-gray: #ccc;
	--grey-dark-five: #2B2B2B;
	--sub-color: #666;


  }
  [data-theme='dark'] {
	--background: #494e51;
	--color-black: white;
	--color-gray: #ccc;
	--grey-dark-five: #2B2B2B;
	--sub-color: #ccc;
  }
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

html {
	font-size: 62.5%;
	background-color: var(--background);
}

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif;
	font-display: swap;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

table,
input,
textarea,
select,
option {
	line-height: 1.1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	transition: .3s ease-in-out;
	&:hover{
		transform: scale(1.05);
	}
}

a {
	transition: 0.3s ease-in-out;
}

form label {
	cursor: pointer;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}