section.m-category
    .frow.justify-start.frow-container
        h2.m-title.m-detection Hệ Thống Showroom
    .frow.frow-container
        include ./item_caterory
        include ./item_caterory
        include ./item_caterory
        include ./item_caterory
        include ./item_caterory
        include ./item_caterory
        include ./item_caterory