footer.c-footer
    .c-footer_inner.frow.frow-container
        .col-md-1-3
           a(href="#").c-footer_ttl THÔNG TIN CÔNG TY
           p.m-title_name <b>CÔNG TY CỔ PHẦN ĐÁ HOA CƯƠNG CHÂU ÂU - EUROSTONE</b>
           ol.mb-25
            li MST: 0309720941
            li Người đại diện: Text Text Text
            li Ngày cấp: Text Text Text
            li Nơi cấp: Text Text Text
           p.c-footer_ttl KẾT NỐI VỚI EUROSTONE
             .frow.mb-25.c-footer_social.justify-start
                a(href="#")
                  img(src='assets/images/ico_fb.svg', alt='facebook', width="30", height="30", loading="lazy")
                a(href="#")
                  img(src='assets/images/ico_pin.svg', alt='pinterest', width="30", height="30", loading="lazy")
                a(href="#")
                  img(src='assets/images/ico_youtube.svg', alt='youtube', width="30", height="30", loading="lazy")
                a(href="#")
                  img(src='assets/images/ico_zalo.svg', alt='zalo', width="30", height="30", loading="lazy")
                a(href="#")
                  img(src='assets/images/ico_messeger.svg', alt='messeger', width="30", height="30", loading="lazy")
        .col-md-1-3.mb-25
            p.c-footer_ttl VỀ EUROSTONE
            p.m-title_name
             img(src='assets/images/ico_location.svg', alt='Showroom', width="12", height="17", loading="lazy")
             | <b>Showroom</b>
            ol
             li số 120 đường số 7, KDC Cityland - Center Hill, P.7, Q. Gò Vấp
             li số 25 đường số 10, KĐT Sala, P. An Lợi Đông, Q.2, TP. Thủ Đức
            p.m-title_name
             img(src='assets/images/ico_factory.svg', alt='Showroom', width="12", height="17", loading="lazy")
             | <b>Nhà máy</b>
            ol
             li 1448 Quốc lộ 1A, Phường Thới An, Q.12, Tp.HCM
            p
              img(src='assets/images/ico_phone.svg', alt='Phone', width="12", height="17", loading="lazy")
              span
                b Hotline
              a(tel:0903 930 126) 0903 930 126 - 0903 598 407
            p
              img(src='assets/images/ico_mail.svg', alt='Phone', width="12", height="17", loading="lazy")
              span
                b Email:
              a(mailto:info@eurostone.vn) info@eurostone.vn
        .col-md-1-3
            p.c-footer_ttl CHÍNH SÁCH CHUNG
            ol.mb-25
              li
                a(href="#") Chính sách vận chuyển
              li
                a(href="#") Chính sách thi công
              li
                a(href="#") Chính sách bảo hành
            p
             b Đăng ký Email ngay để nhận ưu đãi mới nhất!

            form(class="m-form mt-15" action='/' method='get')
              input#search(type='text' name='email' value='' placeholder="Nhập Email")
              button(type="submit") 
                img(src='assets/images/ico_arrow.svg', alt='xem thêm', loading="lazy", decoding="async", width="30", height="15")
    .c-footer_bottom.frow.frow-container
       p @2016 EuroStone All Rights Reserved.
