footer.c-footer
    .c-footer__inner
        .c-footer__logo
            img(src="assets/images/logo.svg", alt="logo" width="280", height="62")
        ul.c-footer__menu
            li
                a(href="") Về Spiderum
            li
                a(href="") Chuyên mục
            li
                a(href="") Điều khoản sử dụng
            li
                a(href="https://huongluafood.com/") Đặc sản miền tây

    .c-footer__bottom
        .c-footer__info
            p
               strong   Công ty Cổ Phần Felizz
            p  Trực thuộc Công ty Cổ Phần Spiderum Việt Nam (Spiderum Vietnam JSC)
            p  Người chịu trách nhiệm nội dung: Trần Việt Anh
            p  Giấy phép MXH số 341/GP-TTTT do Bộ TTTT cấp ngày 27 tháng 6 năm 2016
        .c-footer__name
            p
                strong  © 2021 Công ty Cổ phần Felizz
    .m-bktop
        i.gg-chevron-up-r

