section.m-news.frow-container
    h2.frow.m-title.bottom_line Tin Tức
    include ./item_viewall
    .frow.m-news_container
      include ./item_homenews
      include ./item_homenews
      include ./item_homenews
      include ./item_homenews
