section.m-intro.frow-container
  .frow
    .m-intro_image.col-md-1-2
      picture
        source(srcset='assets/images/intro.avif', type="image/avif")
        source(srcset='assets/images/intro.webp', type="image/webp")
        img(src='assets/images/intro.jpg', alt='Giới Thiệu UPS', loading="lazy", decoding="async",  width="601", height="468")
    .m-intro_info.col-md-1-2
      include ./title
      p Text text text text text text text text text text text text text text text text text text text text text text text text text text. Text text text text text text text text text text text text text text text text text text text text text text text text text text.
      | Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text...
      a.m-btn.frow(href) XEM THÊM
        img(src='assets/images/ico_arrow.svg', alt='xem thêm', loading="lazy", decoding="async", width="40", height="15")