.m-showroom_item.col-md-1-2
  picture
    source(srcset='assets/images/aaron-huber.avif', type="image/avif")
    source(srcset='assets/images/aaron-huber.webp', type="image/webp")
    img(src='assets/images/aaron-huber.jpg', alt='Showroom Gò Vấp', width="540", height="417", loading="lazy")
  .m-showroom_content
    h3.m-ttl3 Showroom Gò Vấp
    p.localtion số 120 đường số 7, KDC Cityland - Center Hill, P.7, Q. Gò Vấp