.m-news_item
    a(href).m-news_img
      picture
        source(srcset='assets/images/aaron-huber.avif', type="image/avif")
        source(srcset='assets/images/aaron-huber.webp', type="image/webp")
        img(src='assets/images/aaron-huber.jpg', alt='Showroom Gò Vấp', width="120", height="120", loading="lazy")
    .m-news_content
      a(href).m-ttl3 Bí Quyết Chọn Tranh Đá Phòng Khách Cho Người Mệnh Hỏa
      p.description Bằng cách này, giải mã hình ảnh xảy ra không đồng bộ (ngoài luồng chính), để luồng chính miễn phí để trình duyệt có thể tiếp tục hiển thị nội dung khác của trang. Nó trì hoãn việc giải mã hình ảnh cho đến sau này và hiển thị nó khi nó được