.col-md-1-4.col-xs-1-2.m-category_item
    a(href="http://").m-category_img
        img(src="assets/images/aaron-huber.jpg", alt="ĐÁ ỐP CẦU THANG", width="270", height="270", loading="lazy")
    a(href="http://").m-category_content  ĐÁ ỐP CẦU THANG
