.m-product_item
    a.m-product_img(href="#")
        img(src="", alt="")
    .m-product_content  
        a(href="http://") Đá Marble Xanh (Green)     
        .m-product_tag 
            a(href="http://") India
            a(href="http://") Lớn
            a(href="http://") 1.6 - 1.8cm
