section.m-slider
  .m-slider_inner.frow.frow-container.direction-column-reverse-xs.centered
      .col-md-1-2
        h2.m-title DEKTON
        p THIẾT KẾ VÔ TẬN
         | <br> TÍNH NĂNG TIÊN TIẾN
      .col-md-1-2
          .m-carousel
            .m-carousel_item
              picture
                source(srcset='assets/images/carousel.avif', type="image/avif")
                source(srcset='assets/images/carousel.webp', type="image/webp")
                img(src='assets/images/carousel.jpg', alt='THIẾT KẾ VÔ TẬN TÍNH NĂNG TIÊN TIẾN', width="700", height="400")
            .m-carousel_item
              picture
                source(srcset='assets/images/carousel.avif', type="image/avif")
                source(srcset='assets/images/carousel.webp', type="image/webp")
                img(src='assets/images/carousel.jpg', alt='THIẾT KẾ VÔ TẬN TÍNH NĂNG TIÊN TIẾN', width="700", height="400")
            .m-carousel_item
              picture
                source(srcset='assets/images/carousel.avif', type="image/avif")
                source(srcset='assets/images/carousel.webp', type="image/webp")
                img(src='assets/images/carousel.jpg', alt='THIẾT KẾ VÔ TẬN TÍNH NĂNG TIÊN TIẾN', loading="lazy" decoding="async" width="700", height="400")
            .m-carousel_item
              picture
                source(srcset='assets/images/carousel.avif', type="image/avif")
                source(srcset='assets/images/carousel.webp', type="image/webp")
                img(src='assets/images/carousel.jpg', alt='THIẾT KẾ VÔ TẬN TÍNH NĂNG TIÊN TIẾN', loading="lazy" decoding="async" width="700", height="400")