section.m-support
  .m-support_inner.frow.frow-container
    .m-support_slick.col-md-1-2
      .item
        .image
          picture
            source(srcset='assets/images/carousel.avif', type="image/avif")
            source(srcset='assets/images/carousel.webp', type="image/webp")
            img(src='assets/images/carousel.jpg', alt='Nguyen Van A', width="140", height="140")
        .content
            h3.name Nguyen Van A
            p.name Chủ đầu tư dự án Novaland
            p Text text text text text text text text text text text text text text <br> text text text text text text text text text text text text.
              | Text text text text text text text text text text text text text text text text text text text text text text text text text text.Text text text text text text text text text text text text text text text text text text text text text text text text text text.
      .item
        .image
          picture
            source(srcset='assets/images/carousel.avif', type="image/avif")
            source(srcset='assets/images/carousel.webp', type="image/webp")
            img(src='assets/images/carousel.jpg', alt='Nguyen Van A', width="140", height="140")
        .content
            h3.name Nguyen Van A
            p.name Chủ đầu tư dự án Novaland
            p Text text text text text text text text text text text text text text <br> text text text text text text text text text text text text.
              | Text text text text text text text text text text text text text text text text text text text text text text text text text text.Text text text text text text text text text text text text text text text text text text text text text text text text text text.
      .item
        .image
          picture
            source(srcset='assets/images/carousel.avif', type="image/avif")
            source(srcset='assets/images/carousel.webp', type="image/webp")
            img(src='assets/images/carousel.jpg', alt='Nguyen Van A', width="140", height="140")
        .content
            h3.name Nguyen Van A
            p.name Chủ đầu tư dự án Novaland
            p Text text text text text text text text text text text text text text <br> text text text text text text text text text text text text.
              | Text text text text text text text text text text text text text text text text text text text text text text text text text text.Text text text text text text text text text text text text text text text text text text text text text text text text text text.
    .m-support_form.col-md-1-2
      h3 ĐẶT LỊCH HẸN VÀ TƯ VẤN TRỰC TIẾP
      p Quý khách vui lòng để lại thông tin để được tư vấn về sản phẩmvà dịch vụ của Eurostone
      form
        input(type='text', name='name')
        input(type='number', name='phone')
        input(type='mail', name='mail')
        textarea( rows="4" cols="50")