.m-title{
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 600;
  color: $color-main;
  position: relative;
  @include flex-center;
  &.is-white{
    color: white;
  }
  &.bottom_line{
    margin-bottom: 2.5rem;
    &::after{
      position: absolute;
      content: url("/assets/images/decor.svg");
      bottom: -2.5rem;
    }
  }
}