/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
.m-form{
	@include flex-jbetween;
	max-width: 300px;
	width: 100%;
	@include tb{
		max-width: 200px
	}
	input{
		background-color: white;
		border-bottom: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	button{
		background-color: #0779F1;
		border-color: #0779f1;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}