/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.m-only{
	&pc{
		@include sp{
			display: none;
		}
	}
	&sp{
		display: none;
		@include sp{
			display: inline-block;
		}
	}
}
