.m-news{
  &_container{
    @include flex-jbetween;
    gap: 0 5rem;
  }
  &_item{
    display: flex;
    gap: 3rem;
    width: calc(50% - 25px);
    border-top: 1px solid #BBBBBB;
    padding: 3.6rem 0;
    @include pc{
      &:nth-last-child(-n + 2){
        border-bottom: 1px solid #BBBBBB;
      }
    }
    @include sp{
      width: 100%;
      &:nth-last-child(-n+1){
        border-bottom: 1px solid #BBBBBB;
      }
    }
  }
  &_img{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_content{
    width: 100%;
    .m-ttl3{
      font-style: 1.6rem;
      line-height: 1.375;
      font-weight: 700;
      color: black;
    }
  }
}