.m-support{
  &_inner{
    margin-top: 5rem;
  }
  &_slick{
    background-color: $color-main;
    color: white;
    padding: 3rem 3rem;
    position: relative;
    .item{
      text-align: center;
      @include flex-center;
      flex-direction: column;
      gap: 2rem;
    }
    .image{
      width: 140px;
      height: 140px;
      margin: 0 auto 4.5rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .content{
      .name{
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.67;
      }
    }
    &.slick-dotted.slick-slider{
      margin-bottom: 0 !important;
    }
    .slick-dots{
      bottom: 0;
    }
  }
  &_form{
    padding: 4rem;
    border: 1px solid grey;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}